# Ignore everything

# But not these files...
!.gitignore
!basic.js
!all.js
!production.js
!developer.sh
!BA_brand_reputation_management.js
!CMA_content_discovery.js
!CMA_topic_analysis.js


# ...even if they are in subdirectories
!*/